# CMake specific #
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# NetBeans specific #
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
configurations.xml
project.xml
nb-configuration.xml

# profiler specific #
main.gcno
main.cpp.gcda
main.cpp.gcno
callgrind.out.*
analysis*

# old input #
gf4.in

# output #
*.out
output